# Logs
logs
*.log

# Dependency directory
dist/
/node_modules/
app/node_modules/
/build/*.exe
build/*.zip
.DS_Store
.idea/

# ssl data
app/ssl/

# typescript builds
app/src/main/**/*.js
app/src/main/**/*.map
app/src/common/*.map
