/* EntryFont-700 - latin_japanese */
@font-face {
    font-family: 'EntryFont';
    font-style: normal;
    font-weight: 700;
    src: local('メイリオ'), local('Meiryo'), local('ヒラギノ角ゴ Pro W3'),
    local('Hiragino Kaku Gothic Pro'), local('ＭＳ Ｐゴシック'), local('MS PGothic'),
    local('-apple-system'), local('system'), local('sans-serif');
}

/* EntryFont-700 - latin_japanese */
@font-face {
    font-family: 'EntryFont';
    font-style: normal;
    font-weight: bold;
    src: local('メイリオ'), local('Meiryo'), local('ヒラギノ角ゴ Pro W3'),
    local('Hiragino Kaku Gothic Pro'), local('ＭＳ Ｐゴシック'), local('MS PGothic'),
    local('-apple-system'), local('system'), local('sans-serif');
}

/* EntryFont-regular - latin_japanese */
@font-face {
    font-family: 'EntryFont';
    font-style: normal;
    font-weight: 400;
    src: local('メイリオ'), local('Meiryo'), local('ヒラギノ角ゴ Pro W3'),
    local('Hiragino Kaku Gothic Pro'), local('ＭＳ Ｐゴシック'), local('MS PGothic'),
    local('-apple-system'), local('system'), local('sans-serif');
}

/* EntryFont-regular - latin_japanese */
@font-face {
    font-family: 'EntryFont';
    font-style: normal;
    font-weight: normal;
    src: local('メイリオ'), local('Meiryo'), local('ヒラギノ角ゴ Pro W3'),
    local('Hiragino Kaku Gothic Pro'), local('ＭＳ Ｐゴシック'), local('MS PGothic'),
    local('-apple-system'), local('system'), local('sans-serif');
}

* {
    font-family: 'EntryFont' !important;
    user-select: none;
    cursor: default;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #ecf4ff;
}

.container {
    height: 100%;
    display: flex;
}

.container .container_inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    background-color: white;
}

.container .container_inner>div {
    align-self: center;
}

.container .container_inner .logo_wrapper {
    background-color: #00b900;
    width: 100%;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container .container_inner .logo_wrapper .logo {
    width: 168px;
    height: 32px;
    padding-bottom: 32px;
}

.container .container_inner .txtVersion {
    font-size: 14px;
    margin: 16px 0 10px;
}

.container .container_inner .btnVersionUpdate {
    display: none;
    cursor: pointer;
    padding-left: 14px;
    padding-right: 14px;
    height: 42px;
    line-height: 42px;
    background-color: #00b900;
    border-radius: 3px;
    color: #ffffff;
}

.container .container_inner .txtAlreadyVersion {
    display: none;
    height: 42px;
    line-height: 42px;
    font-weight: bold;
    color: #3b3b3b;
}

a {
    text-decoration: initial;
    font-size: 14px;
    font-weight: bold;
    color: #1c8850;
    cursor: pointer !important;
}

img {
    width: 50px;
    height: 50px;
}
