<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>엔트리</title>
	<link rel='stylesheet' href='../css/about.css' />
</head>

<body>
	<div id="__main"></div>
	<link rel='stylesheet' href='../css/about.css' />
	<script src="../react/dist/about.build.js"></script>
	<script>
		window.$ = window.jQuery = require('../js/jquery-1.11.3.min.js');
		const { shell, remote, ipcRenderer } = require('electron');
		const aboutWindow = remote.getCurrentWindow();
		const hardwareVersion = remote.getGlobal('sharedObject').hardwareVersion || '0.0.0';
		const Translator = require('../../renderer/js/translator');
		const translator = new Translator();

		$(function () {
			$('body').on('click', function () {
				aboutWindow.hide();
			});

			$('#playEntryBtn').on('click', function (e) {
				e.preventDefault();
				shell.openExternal('https://playentry.org');
			});

			$('.btnVersionUpdate').on('click', () => {
				shell.openExternal('https://playentry.org/#!/offlineEditor');
			});

			$("#version").text(hardwareVersion);

			aboutWindow.on('show', () => {
				$(".btnVersionUpdate").text(translator.translate('Download the latest version'));
				$(".txtAlreadyVersion").text(translator.translate('You are running the latest version.'));

				ipcRenderer.once('checkVersionResult', (e, hasNewVersion) => {
					if (hasNewVersion) {
						$('.txtAlreadyVersion').hide();
						$('.btnVersionUpdate').show();
					} else {
						$('.btnVersionUpdate').hide();
						$('.txtAlreadyVersion').show();
					}
				});

				const lastCheckVersion =
					localStorage.getItem('lastCheckVersion') || '0.0.0';
				ipcRenderer.send('checkVersion', lastCheckVersion);
			});
		});
	</script>
</body>

</html>
